<app-nav-menu-header [pageName]="'alerts'"></app-nav-menu-header>
<ion-content>
  <ion-card>
    <ion-card-header [hidden]="!nickname">Ich liebe es {{nickname}} genannt zu werden!</ion-card-header>
    <ion-card-content>
      <ion-button (click)="showAlert()">
        Nickname erfassen
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-header>The button has been pressed {{pressCount}} times</ion-header>
    <ion-card-content>
      <ion-button (press)="onPress()">
        Press!
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
