<ion-header>
  <ion-toolbar>
    <ion-title>activities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-sliding *ngFor="let activity of activities">
    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>

      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col class="card-image">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-col>
            <ion-col>
              <ion-card-header>
                <ion-card-subtitle>{{activity.time | date}}</ion-card-subtitle>
                <ion-card-title>{{activity.title}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>{{activity.description}}</ion-card-content>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
  </ion-item-sliding>
  <app-tab-nav></app-tab-nav>
</ion-content>
