<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/schedules" routerDirection="root">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Schedules</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/activities" routerDirection="root">
      <ion-icon name="star"></ion-icon>
      <ion-label>Activities</ion-label>
    </ion-tab-button>

    <ion-tab-button routerLink="/settings" routerDirection="root">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
