<app-nav-menu-header [pageName]="'data-binding'"></app-nav-menu-header>
<ion-content>
  <ion-card>
    <ion-card-header>Hey, my name is {{user.name}} {{user.lastname}} and I'm {{user.age}} years old</ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Vorname</ion-label>
        <ion-input [(ngModel)]="user.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input [(ngModel)]="user.lastname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Age</ion-label>
        <ion-input (keypress)="numericOnly($event)" inputmode="numeric" [(ngModel)]="user.age" type="number"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
